{% if not joueur %}
<p class="empty">{{ trad('common.click_player') }}</p>
{% else %}
<div class="apercu-header">
  <div class="apercu-name">{{ joueur.prenom | prenom }} {{ joueur.nom | title }}</div>
  <div class="apercu-meta">
    {{ joueur.nationalite | flag_link('joueurs') }} {{ joueur.nationalite }}
    {% if joueur.statut != 'europeen' %}<span class="statut statut-{{ joueur.statut }}">{{ joueur.statut }}</span>{% endif %}
  </div>
  <div class="apercu-id">{{ joueur.id }}</div>
</div>

{% include 'partials/apercu_discipline_cards.html' %}

{% set data = mcr if regles == 'MCR' else rcr %}
{% include 'partials/apercu_snapshot.html' %}

<a href="/joueurs/{{ joueur.id }}" class="btn apercu-link">{{ trad('players.full_profile') }}</a>
{% endif %}
