{% extends "base.html" %}
{% block content %}

<div class="ranking-header">
  <h1>{{ trad('common.calendar') }}</h1>
  <div class="t-filters">
    <div class="t-filter-group">
      <a href="/tournois/" class="filter-btn">{{ trad('calendar.all_tournaments') }}</a>
    </div>
    <span class="dim" style="font-size:0.82rem">{{ trad('calendar.upcoming', n=nb_total) }}</span>
  </div>
</div>

{% with tournois_par_mois=tournois_par_mois %}
{% include 'partials/calendrier_liste.html' %}
{% endwith %}

{% endblock %}
